
.container{
  height: 30vh;
  width: 70vh;
  border: 2px solid black;
}
h3{
  text-align: center;
}
h1{
  text-align: center;
  font-weight: 500;
  font-style: italic;
}
.button-container{
  text-align: center;
}
.button-container button span{
  font-weight: 800;
}
@media only screen and (max-width:520px){
  .container{
    height: 30vh;
    width: 50vh;
    border: 2px solid black;
  }
}
